{% extends 'base.html.twig' %}

{% block title %}New Tags{% endblock %}

{% block body %}
    <div class="col-md-8" style="margin: auto">
        <h1>Ajouter un tag</h1>

        {{ include('tags/_form.html.twig') }}
        <br>
        <a class="btn btn-warning" href="{{ path('tags_index') }}">Retourner a la liste des tags</a>
    </div>
{% endblock %}
