{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="col-md-8" style="margin: auto">
            <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>
            {{ form(emailForm) }}
    </div>

{% endblock %}
