{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
                    <div class="col-md-8" style="margin: auto">
                        {{ form_start(registrationForm) }}
                        {{ form(registrationForm) }}
                        {{ form_end(registrationForm) }}
                    </div>
{% endblock %}
