{% extends 'base.html.twig' %}

{% block title %}Salle{% endblock %}

{% block body %}
    <div class="col-md-8" style="margin: auto">
        <h1>Modifier une Salle</h1>
        <br>
        {{ include('salle/_form.html.twig', {'button_label': 'Mettre a jour'}) }}
        <br>
        <a class="btn btn-warning" href="{{ path('salle_index') }}">Retourner a la liste des salles</a>
        <br>
    </div>
{% endblock %}
